@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sedgwick+Ave&display=swap');

html {
  background-image: url("drum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h3 {
  position: relative;
  font-family: 'Sedgwick Ave', cursive;
  text-align: center;
  margin: 50px;
  margin-bottom: 10px;
  /* padding: 0; */
  color: black;
  font-size: 3em;
  text-shadow: 
    0 0 3px #fff, 0 0 10px #fff, 0 0 15px #fff,
    0 0 30px rgb(0, 255, 179), 0 0 50px rgb(0, 255, 179),
    0 0 50px rgb(0, 255, 179), 0 0 80px rgb(0, 255, 179),
    0 0 100px rgb(0, 255, 179);
}
h1 {
  position: relative;
  font-family: 'Sedgwick Ave', cursive;
  text-align: center;
  margin: 0%;
  margin-bottom: 20px;
  color: black;
  font-size: 4em;
  text-shadow:  0 0 3px #fff, 0 0 10px #fff, 0 0 15px #fff,
  0 0 30px rgb(0, 255, 179), 0 0 50px rgb(0, 255, 179),
  0 0 50px rgb(0, 255, 179), 0 0 80px rgb(0, 255, 179),
  0 0 100px rgb(0, 255, 179);
}
.keys {
  display: flex;
  height: 200px;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.2rem solid black;
  border-radius: 4.6rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Mochiy Pop P One", sans-serif;

  transition: all 0.07s ease;
  width: 5.2rem;
  text-align: center;
  color: black;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 255, 179), 0 0 82px rgb(0, 255, 179),
    0 0 92px rgb(0, 255, 179), 0 0 102px rgb(0, 255, 179),
    0 0 151px rgb(0, 255, 179);
  background: rgba(248, 248, 248, 0.4);
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: #034652;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
